<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <form action="/submit" method="post">
        <label for="Science">Science:</label><br>
        <input type="text" id="science" name="science"><br>
        <label for="Maths">Maths:</label><br>
        <input type="text" id="science" name="science">

        <form>
            <label for="Ds">DS:</label><br>
            <input type="text" id="DS" name="DS"><br>
            <label for="GK">GK:</label><br>
            <input type="text" id="GK" name="GK">
            <input type="submit" value="submit">
          </form>
      </form>
    
</body>
</html>